
<div class="container">
  <div class="row">
    <div class="col-12">
      <label for="nombre">Nombre:</label>
     <input name="nombre" class="form-control" type="text" [formControl]="this.nombre">
  </div>
  <div class="col-12">
    Apellidos: <input class="form-control" type="text" [formControl]="this.apellido">
  </div>
  <div class="col-12">
    Email: <input class="form-control" type="text" [formControl]="this.email">
  </div>
  <div class="col-12">
    Imagen: <input class="form-control" type="file"  (change)="onFileSelected($event)" #fileUpload>
  </div>
  <div class="btn col-12">
    <button class="btn btn-outline-success" (click)="enviarFormulario()">Enviar</button>
  </div>
  </div>


  <div class="row" *ngIf="userModel">
    
    <div class="col-4 col-md-4 col-sm-4 mt-2" *ngFor="let usuario of userModel">
        <div class="card ">
          <div class="card-header">
            Usuarios 
          </div>
          <div class="card-body">
            <img src="{{urlapi}}{{usuario.imagen}}" class="img-fluid" alt="IMG">
            <div class="absolute">
              <div class="d-flex justify-content-center mt-1">
                <a (click)="addImage(usuario.id, usuario.imagen)" href="#"><img src="https://cdn-icons-png.flaticon.com/512/9261/9261177.png" width="20" alt="">
</a>
                <a (click)="deleteImage( usuario.imagen)" href="#"><img src="https://cdn-icons-png.flaticon.com/512/9301/9301218.png" width="20" alt="">
</a>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <b style="display: flex; align-items: center; justify-content: center;">{{usuario.apellido}} {{usuario.nombre}}</b>
          </div>
        </div>
    </div>
    
  </div>

</div>
